numpy
librosa==0.9.1
opencv-python==4.6.0.66
--extra-index-url=https://download.pytorch.org/whl/cu118
torch
--extra-index-url=https://download.pytorch.org/whl/cu118
torchvision
tqdm
numba
mediapipe
openai==0.28
obsws-python
twitch-python
num2words
batch_face
imageio
pika
pyserde
boto3
botocore
llama-index
g2p_en
syllable
fastapi
uvicorn[standard]
requests
httpx
boto3
python-multipart
